<%= "Hello #{@user}" %>

<h2>My Notes</h2>

<ul id="headings">
<% @headings.each do |heading| %>
  <%= render '/headings/group', :heading => heading %>
<% end %>
</ul>

<%= render '/headings/form' %>
